/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #mainNav {
    margin: 0 auto;
    width: 100%;
  }
    
  #SW_container {
    display:none;
  }
    
  #port_holder {
    width: 100%;
  }
    
  #portNav ul li {
    font-size: 1em;
    line-height: 2em;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #SW_container {
    display:none;
  }
    
  #name {
    display: inline-block;
    color: #000;
    text-align: center;
    border-radius: 50%;
    margin: 0;
  }
    
  
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
