/*~~~~~~~~~~~~~~~~~~~~~~~~~GENERAL CSS~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1,h2,h3 {     padding: 0;     margin: 0; } 

hr { 
    border: 0; 
    height:1px; 
    background-image: -webkit-linear-gradient(left, rgba(139,216,211,0),
rgba(139,216,211,0.75), rgba(139,216,211,0)); 
    background-image: -moz-linear-gradient(left,
rgba(139,216,211,0), rgba(139,216,211,0.75), rgba(139,216,211,0)); 
    background-image: -ms-linear-
gradient(left, rgba(139,216,211,0), rgba(139,216,211,0.75), rgba(139,216,211,0)); 
    background-image: -o-linear-gradient(left, rgba(139,216,211,0), rgba(139,216,211,0.75),
rgba(139,216,211,0)); 
    margin-bottom:20px;

}

body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Megrim', cursive;
}

img {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    margin:0 auto;
    height: 70px;
    padding: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,10,.5);
    z-index: 999999;
}

#header_holder {
    position: fixed;
    width: 78.125%;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: #8bd8d3;
    border: 1px solid transparent; 
/*    padding:5px;*/
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}

a:hover {
    color: rgb(0,0,10);
    background-color: rgba(139,216,211,.4);
    border-radius: 10px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}

ul {
    list-style: none;
}

footer {
    bottom: 0px !important;
    text-align: center;
    font-size: .8em;
    line-height: 50px;
    padding: 0;
    margin-top: 100px !important;
    background-color: rgba(139,216,211,.4);
    clear:both;
}

figure {
    padding:0;
    margin: 0;
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~~~~~~~~~~~BLACK BODY CSS~~~~~~~~~~~~~~~~~~~~~~~~~*/

#blackBod {
    background-color: rgb(0,0,10);
}

#blackBod #name {
    color: #fff;
}

#blackBod #mainNav ul li a:hover {
    color:#8bd8d3; 
    background-color: rgba(255,255,255,.4);
    text-transform: uppercase;
    /*border: 1px solid #201d57; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;}  /* mouse over link */


/*~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~HEADER/NAV CSS~~~~~~~~~~~~~~~~~~~~~~~~~*/

#headerBG {
    margin:0 auto;
    text-align: center;
}


#sw {
    font-family: 'Megrim', cursive;
    float:left;
    text-decoration: none;
    margin-top: 5px;
    width: 70px;
}

/*
#sw a.rollover {
    display: block;
    width: 70px;
    height: 70px;
    text-decoration: none;
    background: url("SW_img/SW_sprite.png");
    padding: 0;
    border: none;
    border-radius: 0;
    }
*/

/*
#sw a.rollover:hover {
    background-position: 0px -80px;
    border: none; 
    }
*/

.displace {
    position: absolute;
    left: -5000px;
    }

#name_holder {
    text-align: center;
    margin-top: -190px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background-color: rgba(139, 216, 211, 0.4);
    position: relative;
}

#steph {
    padding-top: 120px;
}

#name {
    display: inline-block;
    color: #000;
    text-align: center;
    border-radius: 50%;
    margin: 40px;
}

#name:hover {
    background-color: transparent;
    border: 10px solid rgba(139,216,211,.4);
    text-transform: uppercase;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}


#mainNav {
    margin: 0 auto;
    width: 50%;
}

#mainNav ul li {
    margin-top:10px;
}

#mainNav ul li a {

    font-family: 'Megrim', cursive;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 50px;
    line-height:50px;
    text-align:center;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #8bd8d3;
    background: transparent;
    padding: 0;

}

#mainNav ul li a:link {color:#8bd8d3;}      /* unvisited link */
#mainNav ul li a:visited {color:#8bd8d3;}  /* visited link */
#mainNav ul li a:hover {
    color:#8bd8d3; 
    background-color: rgba(0,0,10,.4);
    text-transform: uppercase;
    /*border: 1px solid #201d57; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;}  /* mouse over link */

#mainNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    display: inline-block;
}

#mainNav ul li {
    float:left;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~ END ~~~~~~~~~~~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~ PORTFOLIO CSS ~~~~~~~~~~~~~~~~~~~~~~~~~*/

.project_img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	padding: 0px;
}


#projects{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    border: none;
}

#projects a {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    
}

#projects a:hover {
    background-color: transparent;
    border: none;
}


#projects figure {
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    line-height: 200px;
    position: relative;
    padding: 0 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}


#projects figure a img {
    height: 100%;
    width: 100%;
}

#projects figure dl {
    opacity: 0;
    height: 130px;
    width: 130px;
    position:absolute;
/*    display: inline-block;*/
    top: 0px;
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
    line-height: 1.5;
    background-color: rgba(0,0,10,.75);
    border-radius: 50%;
    color:#8bd8d3;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
}

#projects figure:hover dl {
    opacity: 1;
    line-height: 1.5em;
    text-transform:none;
}

#projects figure dl dt {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 20%;
    text-transform:none;
/*    margin-bottom: -16px;*/
}

#projects figure dl dd {
    margin-left: 0;
}

.current {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome & Safari 6+ */
 
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
 
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.not-current {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
 
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.current-li {
    color: #000;
}


#projects img:hover {
    filter: none;
    -webkit-filter: none;

}

/*~~~~~~ PORTFOLIO NAVIGATION CSS ~~~~~~*/

#portNav ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    text-align: center;
}


#portNav ul li {
    display: inline;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
    font-size: 1.5em;
    border: 1px solid rgba(0,0,10,0);
    border-radius: 30px;
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}
 
#portNav ul li:hover {
    color: #8bd8d3;
    /*border: 1px solid #201d57;*/
    background-color: rgba(0,0,10,.7);
    /*text-transform: uppercase;*/
}

#portNav ul li:last-child {
    margin-right: 0;

}




/*~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/






/*~~~~~~~~~~~~~~~~~~~~~~~~~RESUME CSS~~~~~~~~~~~~~~~~~~~~~~~~~*/


.resSection {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  GROUPING  */
.resGroup:before,
.resGroup:after {
    content:"";
    display:table;
}
.resGroup:after {
    clear:both;
}
.resGroup {
    zoom:1; /* For IE 6/7 */
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GRID OF EIGHT   ============================================================================= */

    
.span_8_of_8 {
    width: 100%;
}

.span_7_of_8 {
    width: 87.3%; 
}

.span_6_of_8 {
    width: 74.6%; 
}

.span_5_of_8 {
    width: 61.9%; 
}

.span_4_of_8 {
    width: 49.2%; 
}

.span_3_of_8 {
    width: 36.5%;
}

.span_2_of_8 {
    width: 23.8%; 
}

.span_1_of_8 {
    width: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .span_8_of_8 {
        width: 100%; 
    }
    .span_7_of_8 {
        width: 100%; 
    }
    .span_6_of_8 {
        width: 100%; 
    }
    .span_5_of_8 {
        width: 100%; 
    }
    .span_4_of_8 {
        width: 100%; 
    }
    .span_3_of_8 {
        width: 100%; 
    }
    .span_2_of_8 {
        width: 100%; 
    }
    .span_1_of_8 {
        width: 100%; 
    }
}







/*~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/



#holder {
	padding-top: 20px ;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

#small_holder {
    padding-top: 50px ;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 46.875%;
}



#aboutIMG {
    float:left;
    border-radius: 50%;
    padding: 10px;

}




#foot {
	clear:both;
	bottom: 0px;
	padding-top: 100px;
}



::selection {
    background: #333;
    color: #FFF;
}



#flashContent {
    text-align: center;
    margin:0 auto;
    padding-top:50px;
}







/*~~~~~~~~~~~~~~~~~~~~~~~~~CONTACT FORM CSS~~~~~~~~~~~~~~~~~~~~~~~~~*/


#social_grid div {
    float: left;
    width: 33.33%;
}

#social_grid div h3{
    display: inline-block;
    border-radius: 30px;
    margin-left: -7px;
}

#social_grid div p {
    margin-top:-5px;
}

#social_grid div h3 a, a:visited {
    text-decoration: none;
    display: inline-block;
    color: #8bd8d3;
    border: 1px solid transparent;
    border-radius: 30px;
    padding:5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    text-transform: lowercase;
}


#social_grid div h3 a:hover{
    color: rgb(0,0,10);
    background-color: rgba(139,216,211,.4);
    border-radius: 30px;
    text-transform: uppercase;
/*    padding: 0;*/
/*    margin: 0;*/
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}

#feedback-page{
    text-align:center;
}

#form-main{
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(0,0,10,.5);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    margin-top:30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}


.feedback-input {
    color: rgba(0,0,10,.5);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: rgba(0,0,10,.3);
    box-shadow: 0;
    border: 3px solid #8bd8d3;
    color: #8bd8d3;
    outline: none;
    padding: 13px 13px 13px 13px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:paleturquoise;
}

#sendButton{
    font-family: 'Megrim', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: 4px solid #8bd8d3;
    cursor:pointer;
    background-color: rgba(0,0,10,.7);
    color:#fff;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#sendButton:hover{
    background-color: #8bd8d3;
    font-weight:900;
    color: rgba(0,0,10,.7);
    border: 4px solid rgba(0,0,10,0);
}

    
@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~HEADER LOGO CSS~~~~~~~~~~~~~~~~~~~~~~~~~*/

#name_holder a.rollover {
    width: 100px;
    height: 100px;
    text-decoration: none;
    background: url("SW_img/SW_sprite.png");
    padding: 0;
    border: none;
    
}

#name_holder a.rollover:hover {
    background-position: 0px -100px;
    border: none; 
    }

#SW_container {
    margin: 0 auto;
    text-align: center;
    width:180px;
    height: 180px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/








