#sawwaves_container,
#static-container {
  padding: 8em 0 0 0;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

#animated-container {
  #wave1, #wave2, #wave3 {
    stroke-dasharray: 810 810;
    stroke-dashoffset: 810;
  }
  #wave1 {
    // animation: dashreverse 1.3s linear forwards reverse;
    // &:hover {
    //   animation: dashforward 1.3s linear forwards reverse;
    // }
  }

  #wave2 {
    // animation: dashforward 1.3s linear forwards normal;
    // &:hover {
    //   animation: dashreverse 1.3s linear forwards normal;
    // }
  }

  #wave3 {
    // animation: dashreverse 1.3s linear forwards reverse;
    // &:hover {
    //   animation: dashforward 1.3s linear forwards reverse;
    // }
  }
}

.dash-offset-zero { stroke-dashoffset: 0 !important; }

#static-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 7.8em;
  padding-left: 1em;
  opacity: .4;
  pointer-events: none;
}

.wave-animation-dashforward {
  animation: dashforward 1.3s linear forwards normal;
}

.wave-animation-dashreverse {
  animation: dashreverse 1.3s linear forwards reverse;
}

@keyframes dashforward {
  0% { stroke-dashoffset: 810; }
  100% { stroke-dashoffset: 0; }
}

@keyframes dashreverse {
  0% { stroke-dashoffset: 1620; }
  100% { stroke-dashoffset: 810; }
}
