#sawwaves_container {
  padding: 8em 0 0 0;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

#wave1 {
  stroke-dasharray: 810 810;
  stroke-dashoffset: 810;
  animation: dashreverse 1.3s linear forwards reverse;
  &:hover {
    animation: dashreverse 1.3s linear forwards reverse;
  }
}

#wave2 {
  stroke-dasharray: 810 810;
  stroke-dashoffset: 810;
  animation: dashforward 1.3s linear forwards normal;
  &:hover {
    animation: dashforward 1.3s linear forwards normal;
  }
}

#wave3 {
  stroke-dasharray: 810 810;
  stroke-dashoffset: 810;
  animation: dashreverse 1.3s linear forwards reverse;
  &:hover {
    animation: dashreverse 1.3s linear forwards reverse;
  }
}


@keyframes dashforward {
  0% {
    stroke-dashoffset: 810;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dashreverse {
  0% {
    stroke-dashoffset: 1620;
  }
  100% {
    stroke-dashoffset: 810;
  }
}
