html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  overflow: auto;
  background: linear-gradient(#09dcc8,#4d62d8);
  padding: 5px;
  animation: bgfadein 1s linear;
}


@keyframes bgfadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
