#social-media-links {
  position: absolute;
  bottom: 13px;
  right: 10px;
  left: 10px;
}

.social-links-container {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.social-link {
  display: inline-block;
  margin: 0;
  transition: all .3s linear;
  width: 30%;
  height: 30px;
  &:nth-child(even):hover {
    transform: rotate(20deg);
  }
  &:nth-child(odd):hover {
    transform: rotate(-20deg);
  }
}

@media screen and (max-device-width: 401px) {
  .social-link { height: 50px; }
}
